@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
:root{
    --main-color:#130102;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Slab', serif;
    transition: all .4s linear;
}


body{
    background: var(--main-color);
    scroll-behavior: smooth;
}

nav{
    position: sticky;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    background: #292d36;
    align-items: center;
}
.header h2{
    position: relative;
    color: rgb(229, 245, 253);
    font-size: 1.5rem;
    font-weight: 500;
}

.head-container a{
    padding: 0 20px;
    font-size: .9rem;
    color: #ffff;
    font-weight: 500;
}
.head-container a:hover{
    color:#737373;
    font-weight: 900;
}
.search-box{
    display: flex;
    gap: 20px;
}
.search-box i{
    font-size: 1.1rem;
    color: white;
}
#search-icon{
    cursor: pointer;
}

.search-area.active{
    transform: scale(1);
    position: absolute;
    
}
.search-area {
    transform: scale(0);
}
.search-area{
    position: absolute;
    right: 0;
    top: 65px;
    background: #000;
    width: 350px;
    
}
.search-area input{
    width: 100%;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
}
#bar{
    display: none;
    cursor: pointer;
}

#home{
    width: 100%;
    height:calc(100vh - 60px);
    /* background: linear-gradient(rgb(0, 0, 0, 0.5),rgb(0, 0, 0, .6),rgb(0, 0, 0, .5)), url(./My-images/cover.jpg); */
    object-fit: cover;
    background-size: cover;
}

#home .home-contant{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(208, 205, 205);
    text-align: center;
}

#home .home-contant a{
    font-size: 3.5rem;
    font-weight: 600;
}
#home .home-contant span{
    color: #737373;
    animation: colorchange 10s infinite alternate;
}
@keyframes colorchange {
    0% {
        color: #11d193;
    }

    20% {
        color: #f56e19;
    }

    40% {
        color: #f50051;
    }

    60% {
        color: #8400c0;
    }

    80% {
        color: #84000a;
    }

    100% {
        color: #17e716;
    }
}
#home .home-contant p{
    font-size: .9rem;
    padding-top: 10px;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    width: 700px;
    color: rgb(228, 249, 252);
}
#home .home-contant .btn{
    background: white;
    border: 2px solid #263963;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 500;
    /* transition: transform 1s ease; */
}
#home .home-contant .btn:hover{
    color: rgb(188, 195, 195);
    border: 2px solid #fff;
    background: #263963;
    /* transform: translateY(8px); */
}

/* background */
#home .background #bg-btn{
    position: fixed;
    top: 100px;
    right: 0;
    padding: 3px;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 10px;
    color: #ffffff;
    background: black;
}
.background .color-list{
    position: fixed;
    top: 130px;
    right: 5px;
    transform: scale(0);
    transition: 2s;
}
.background .color-list.active{
    transform: scale(1);
}
.background .color-list li{
    width: 30px;
    height: 30px;
    margin: 10px 0;
    border-radius: 50%;
    border:2px solid #ffffff;
    cursor: pointer;
}

section{
    width: 100%;
    height: 100auto;
    color: azure;
}
/* about-section */

#about .about-container{
    padding: 200px;
    width: 100%;
    height: 100auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
#about .about-container .about-text{
    width: 50%;
    text-align: center;
    letter-spacing: .1rem;
    line-height: 1.5rem;
}
.about-text h1{
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 20px;
    padding-top: 30px;
}
.about-text span{
    color: #737373;
}
.about-text h4{
    font-size: 1.3rem;
    padding:20px 0;
}
.about-text p{
    font-size: 0.9em;
}
#about .about-container .about-MyImage{
    width:300px;
    height: 400px;
    text-align: center;
}
#about .about-container .about-MyImage img{
    /* position: relative; */
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 4px 2px 2px white;
}
/* skills-section */
#skills{
    padding: 100px;
    
}

#skills .skills-head{
    font-size: 2.5rem;
    text-align: center;
}
#skills .skills-head span{
    color: #737373;
}

#skills .skills-container{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#skills .skills-container h3 {
    font-size: .8rem;
    padding:5px 0;
}
#skills li{
    margin: 20px 0;
    padding: 10px;
}
.bar {
    background: white;
    display: block;
    height: 20px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, 25, 1);
}
.bar span{
    padding: 2px;
    height: 20px;
    float: left;
    background: linear-gradient(135deg,#737373 50%,#333333 20%);
    text-align: end;
    border-radius: 10px;
}

.html{
    animation: html 3s ;
    width: 75%;
}
.css {
    animation: html 3s ;
    width: 70%;
}
.javascript {
    animation: html 3s;
    width: 60%;
}
.bootstrap {
    animation: html 3s;
    width: 80%;
}

.tailwind {
    animation: html 3s;
    width: 75%;
}

.jquery {
    animation: html 3s;
    width: 65%;
}
@keyframes html {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}
@keyframes css {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}
@keyframes javascript {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}
@keyframes bootstrap{
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes tailwind {
    from {
        width: 0;
    }

    to {
        width: 65%;
    }
}

@keyframes jquery {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}
/* portfolio-section */
#portfolio{
    padding: 30px 0;
}
#portfolio h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 50px 0;
}
#portfolio span{
    color: #737373;
}
#portfolio .portfolio-container {
    padding: 0 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.portfolio-container .portfolio-box img{
    width: 100%;
    height: 200px;
    border: .2rem solid rgb(48, 54, 53);
    border-radius: 20px;
    object-fit: cover;
    animation: size 5s alternate infinite;
}

@keyframes size{
    from{
        width:15rem;
    }
    to{
        width: 20rem;
    }
}
/* section-contact */
#contact .contact-container{
    padding: 150px 100px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
#contact .contact-container .contact-box{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.contact-box h1{
    font-size: 2.5rem;
}
.contact-box span{
    color: #737373;
}
.contact-box a{
    color: #737373;
}
.contact-box .social-links i{
    font-size: 2rem;
    margin-right: 10px;
    cursor: pointer;
}
.contact-box button{
    width: 150px;
    height: 35px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    background: rgb(168, 185, 181);
}
.contact-box button:hover{
    background: linear-gradient(120deg,#333333 50%,#737373);
    color: white;
}
.contact-box a i{
    color: rgb(215, 225, 225);
    padding-right: 15px;
}
#contact .submit-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.submit-form input{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.submit-form textarea{
    padding: 10px;
    border-radius: 10px;
}
.submit-form button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background: white;
    font-size: 1rem;
    font-weight: 500;
}
.submit-form button:hover{
    background: linear-gradient(100deg,#333333 50%,#737373);
    color: white;
}
/* footer */
.writer h2{
    margin-bottom: 10px;
    text-align: center;
    color: #737373;
    
}











@media(max-width:850px){
    
    .head-container{
        position: absolute;
        width: 150px;
        left: -150px;
        top: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #333333;
    }
    .head-container a{
        padding:42px 0 ;
    }
    .head-container.active{
        left: 0;
    }
        #bar{
            display: block;
        }
    #home .home-contant a {
            font-size: 4rem;
        }
        #home .home-contant p{
            width: 500px;
            font-size: 1rem;
        }
        section{
            height: auto;
        }
        .about-text h1 {
            font-size: 2rem;
        }
        .about-container{
            height: auto;
        }
        #about .about-container .about-MyImage img {
            width: 250px;
            height: 350px;
        }
        #skills .skills-head{
            font-size: 3rem;
        }
        
        #portfolio h1{
            font-size: 3rem;
        }
        #contact .contact-container .contact-box h1{
            font-size: 3rem;
        }
       
        
}

@media (max-width :687px){
    
    #home .home-contant a {
        font-size: 3rem;
        
    }
    #home .home-contant p {
        width: 350px;
    }
    #about .about-container .about-MyImage img {
        width: 100%;
        height: 350px;
    }
    .writer h2{
        font-size: 1rem;
    }
}

@media (max-width :550px){

    #home .home-contant a {
            font-size: 2.5rem;
        }
    #about .about-container{
        width: 100%;
    }
        
    #about .about-container .about-text h4{
        font-size: .7rem;
    }
    
}